<div class="product-card-container">
  <div [routerLink]="['' , collectionUrl, product.url]"
       style='
    border-radius:18px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height:70%;
    width:100%;
    background-color: #cccccc;
    background-position: center;'
       [style.background-image]="'url('+product.mainPhoto1+')'"
       alt="pname"></div>
  <div class="card-section2">
    <div class="stars">
      <span class="fa fa-star checked starts_single"></span>
      <span class="fa fa-star checked starts_single"></span>
      <span class="fa fa-star checked starts_single"></span>
      <span class="fa fa-star checked starts_single"></span>
      <span class="fa fa-star checked starts_single"></span>
    </div>
    <div class="section2-prices">
      <h3 class="product-title">{{product.name}}</h3>
      <div *ngIf="product.price === '0'">
        <p class="esgotado">Esgotado</p>
      </div>
      <div *ngIf="product.price !== '0'">
        <p>{{ product.price | currency:'EUR':true }}</p>
      </div>
    </div>
  </div>
</div>